services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      SERVER_HOST: ${SERVER_HOST}
      SERVER_PORT: ${SERVER_PORT}

      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
    env_file:
      - .env
    networks:
      - app_network
    command: gunicorn --bind "${SERVER_HOST}:${SERVER_PORT}" --workers 4 --worker-class uvicorn.workers.UvicornWorker main:app

networks:
  app_network:
    driver: bridge